.postsContainer {
    background-color: #F1F2F5;
    margin-left: 20px;
    width: 600px;
    max-width: 370px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.title_posts {
    font-size: 16px;
    font-weight: bold;
}

.input_news {
    height: 40px;
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    outline: none;
    border-radius: 5px;
}



