.formControl {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  &.error {
    input, textarea {
      border: 1px solid red;
    }
    span {
      color: red;
    }
  }
}

.formSummaryError {
  padding: 5px;
  border: 1px red solid;
  color: red;
}

.btnSaveProfileInfo{
  padding: 3px;
  height: 30px;
  width: 70px;
  border-radius: 6px;
  background-color: #e0e0e0;
  color: #8C939C;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;

  &:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    color: #000;
  }
}