.header {
  width: 100%;
  height: 200px;
  border-radius: 0 0 6px 6px;
  background-image: url("../../images/background/backgroundHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
