.nav {
  padding: 20px 0 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #E5E5E5;
}

.pagesLinksContainer {
  display: flex;
}

.item {
  margin-right: 25px;
  margin-bottom: -2px;

  a {

    max-width: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66676B;
    height: 60px;
    border-bottom: 2px solid #E5E5E5;
    transition: .2s;

    &.activeLink {
      color: #0572EF;
      border-bottom: 2px solid #0572EF;
    }
  }

  .settingsBtn {
    color: #000;
  }
}

.settingsBtn {
  padding: 3px;
  margin-right: 12px;
  box-sizing: border-box;
  width: 120px;
  height: 35px;
  border-radius: 6px;
  background-color: #E5E6EB;
  transition: .2s;

  img {
    margin-right: 5px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #66676B;
    transition: .2s;

    &.activeLink {
      color: #0572EF;
    }
  }

  &:hover {
    background-color: #d3d3d9;
  }

  &:hover a {
    color: #000;
  }
}

.btnsHeaderContainer {
  display: flex;
}

.logInOutBtn {
  width: 103px;
  height: 35px;
  border-radius: 6px;
  background-color: #0572EF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/icons/logOutIcon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  transition: .2s;
  button {
    margin-left: 15px;
    color: #fff;
  }

  &:hover {
    cursor: pointer;
    background-color: #0362d5;
  }
}
