.nav {
    padding: 20px;
    grid-area: n;
    background-color: burlywood;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.tab_friend {
    margin-top: 30px;
}

.title_friend {
    font-size: 18px;
}