.dialogsContainer {
  display: flex;
  flex-direction: column;
}

.usersDialogs {
  display: flex;
  justify-content: space-between;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
  max-width: 500px;
  width: 100%;
}

.addMessageBtnBlock {
  display: flex;
  align-items: center;
}

.addMessageField {
  display: flex;
  align-items: center;
  width: 100%;
}

.dialogsUserPhoto {
  width: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.textareaAddMessage {
  margin-right: -15px;
  padding: 10px;
  height: 40px;
  background-color: #E5E6EB;
  border-color: #E5E6EB;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.btnAddMessage {
  height: 40px;
  width: 44px;
  border-radius: 6px;
  background-color: #0572EF;
  background-image: url("../../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 12px;

  &:hover {
    background-color: #0362d5;
  }
}