.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.addMessageBtnBlock {
  display: flex;
  align-items: center;
}

.addMessageField {
  display: flex;
}

.dialogsUserPhoto {
  width: 40px;
  margin-right: 30px;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}